NAME=symfony
TLD=localhost
UID=1000
GID=1000
HOST=${NAME}.${TLD}

########################################################################
# PHP-FPM
########################################################################
PHP_FPM_PORT=9001
PHP_FPM_SYMFONY_CLI_VERSION=latest
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_CLIENT_PORT=5902
#PHP_XDEBUG_CLIENT_HOST=172.18.0.1
PHP_XDEBUG_CLIENT_HOST=host.docker.internal

########################################################################
# NGINX
########################################################################
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_SYMFONY_SERVER_NAME=${HOST}
